//- remember to add the google font to the page
doctype html
html
  head
    title= "What the F*** Should I Bake?"
    link(rel='stylesheet', href='/sass/styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Arimo")

  body
    block content
      h1 What the F*** Should I bake?
      p Hit Enter for baking inspiration and ideas
