//- remember to add the google font to the page
doctype html
html
  head
    title = "What the F*** Should I Bake?"

block content
h1 What the F*** Should I bake?
p Hit Enter for baking inspiration and ideas
