include mixins/_recipeCard


doctype html
html
  head
    title= "What the F*** Should I Bake?"
    link(rel='stylesheet', href='/sass/styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora|Old+Standard+TT")

body
  .recipe-page
    block header
      .left
        a.main-link(href="/")
          h2.title What should I bake?

    block content
      .recipe
        +recipeCard(recipe)

  script(src='/javascript/client.js')