$text-color: #fefbf0;

$font-h1: 3.157em;
$font-text: 1em;
$font-h2: 1.777em;
$font-footer: 0.75em;

.container {
  //margin: 16px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: hsla(50, 33%, 25%, 0.25);
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Old Standard TT', serif;
  background-image: url(https://images.unsplash.com/photo-1483695028939-5bb13f8648b0?auto=format&fit=crop&w=2850&q=80);
  background-size: cover;
  color: $text-color;
  // background-color: hsla(50, 33%, 25%, 0.35);
  //background: #000000;
  //background-color: transparent;
}

// .frontHeader {
//   justify-content: center;
//   align-items: center;
// }

.title {
  margin-left: 19.92px;
  font-size: $font-h2;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //width: 64%;
}

.tagline {
  font-size: $font-h1;
}

.description {
  width: 64%;
  font-size: $font-text;
}

// h2 {
//   width: 64%;
// }
// p {
//   width: 72%;
// }

.main-link {
  text-decoration: none;
  color: $text-color;
}

.main-link:hover {
  color: #010101;
}

.footer {
  font-size: $font-footer;
  margin-left: 19.92px;
}
